.contenedor-padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
}
.contenedor {
    display: flex;
    flex-direction: column;
    background-color: #63b761;
    width: calc(33.33% - 10px);
    height: 229px;
    flex: 0 0 auto;
    margin: 5px;
    padding: 1%;
    border-radius: 20px;
    border: 2px solid #4E4E4E;
}

.header {
    display: flex;
    align-items: center;
}

.imagen {

    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.titulo {
    margin-left: 10px;
}

.texto-completo {
    margin-top: 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.parrafos {
    display: flex;
    justify-content: space-between;
}

.parrafo {
    width: 45%;
}