<div class="search-container" style="position: absolute; top: 20px; right: 20px;">
    <input class="form-control" type="search" placeholder="Busca">
<i class="bi bi-search" style="position: absolute; right: 10px; top: 7px;"></i>
</div>

<div class="contenedor-padre">
    <!-- Tus contenedores aquí -->
    <div class="contenedor">
        <div class="header">
            <img src="https://github.com/JhoanDucu/Sena-Chat-Angular-/blob/main/Sena-Chat/Frontend/src/assets/img/Grupo.png?raw=true" alt="Imagen del grupos" class="imagen">
            <h2 class="titulo">Titulo del grupos aquí</h2>
        </div>
    <p class="texto-completo">Tu texto largo aquí</p>
        <div class="parrafos">
            <p class="parrafo">Num. Miembros: <span>20</span></p>
            <p class="parrafo">Ficha: <span>22558104</span></p>
        </div>
    </div>

</div>