<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight2" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Agregar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="agregar">
        <img src="../../assets/img/User-agregar.png" style="width: 35%; height: 25%" alt="Agregar" />
        <br />
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
                <div id="emailHelp" class="form-text">
                    Ingrese el Email de la persona
                </div>
            </div>
            <button type="submit" id="botonEnviar" class="btn btn-primary">
                Enviar
            </button>
        </form>
    </div>
</div>