<div id="perfil-box">
    <div id="imagen-box">
        <img src="../../../assets/img/Usuario2.jpg" id="user">

        <div id="text">
            <span id="nombre-usuario">{{ perfil.nombre_usuario }}</span>
            <p>Siempre en busca de nuevas aventuras y dispuesta a
                compartir experiencias. Amante de los animales y defensora del medio ambiente.</p>
            <!-- 
                <label for="exampleInputEmail1" class="form-label"><strong>Primer nombre:</strong></label>
                    <label for="exampleInputEmail1" class="form-label">....</label>
                    <br>
                    <label for="exampleInputEmail1" class="form-label"><strong>Segundo nombre: </strong></label>
                    <label for="exampleInputEmail1" class="form-label">....</label>
                    <span></span>
                    <br>
                    <label for="exampleInputEmail1" class="form-label"><strong>Primer apellido: </strong></label>
                    <label for="exampleInputEmail1" class="form-label">....</label>
                    <span></span>
                    <br>
                    <label for="exampleInputEmail1" class="form-label"><strong>Segundo apellido: </strong></label>
                    <label for="exampleInputEmail1" class="form-label">....</label>
                    <span></span>
                    <br>
                    <label for="exampleInputEmail1" class="form-label"><strong>Nombre de usuario: </strong></label>
                    <label for="exampleInputEmail1" class="form-label">....</label>
                    <span></span>
                    <br>
                    <label for="exampleInputPassword1" class="form-label"><strong>Correo electronico: </strong></label>
                    <label for="exampleInputEmail1" class="form-label">....</label>
                    <span></span>
                    <br> -->
        </div>
    </div>
    <div id="datos-box">
        <p>
            {{perfil.primer_apellido}} {{perfil.segundo_apellido}}
            {{perfil.primer_nom}} {{perfil.segundo_nom}}
        </p>
        <button type="button" class="btn btn-primary" id="liveToastBtn" (click)="toast()">Show live toast</button>
    </div>
</div>

<div class="position-fixed bottom-0 start-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="../../../assets/img/Usuario3.jpg" class="rounded me-2" id="toastImg">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>