<div id="perfil-box">
    <div id="imagen-box">
        <img src="../../../assets/img/Usuario2.jpg" id="user">

        <div id="text">
            <h4>Nombre de Usuario</h4>
            <p>Siempre en busca de nuevas aventuras y dispuesta a
                compartir experiencias. Amante de los animales y defensora del medio ambiente.</p>
            <!-- <label for="exampleInputEmail1" class="form-label"><strong>Primer nombre:</strong></label>
                    <label for="exampleInputEmail1" class="form-label">....</label>
                    <br>
                    <label for="exampleInputEmail1" class="form-label"><strong>Segundo nombre: </strong></label>
                    <label for="exampleInputEmail1" class="form-label">....</label>
                    <span></span>
                    <br>
                    <label for="exampleInputEmail1" class="form-label"><strong>Primer apellido: </strong></label>
                    <label for="exampleInputEmail1" class="form-label">....</label>
                    <span></span>
                    <br>
                    <label for="exampleInputEmail1" class="form-label"><strong>Segundo apellido: </strong></label>
                    <label for="exampleInputEmail1" class="form-label">....</label>
                    <span></span>
                    <br>
                    <label for="exampleInputEmail1" class="form-label"><strong>Nombre de usuario: </strong></label>
                    <label for="exampleInputEmail1" class="form-label">....</label>
                    <span></span>
                    <br>
                    <label for="exampleInputPassword1" class="form-label"><strong>Correo electronico: </strong></label>
                    <label for="exampleInputEmail1" class="form-label">....</label>
                    <span></span>
                    <br> -->
        </div>
    </div>
    <div id="datos-box">
        <p>Juan David Cardenas Perez</p>
    </div>
</div>