#myTab {
  font-size: 28px;
  padding: 0;
  border: none;
  padding-top: 1vh;
  width: 98%;
  background-color: currentColor;
  margin: 5px;
  .nav-link {
    color: rebeccapurple;
  }
}

#myTabContent {
  padding: 0;
  direction: rtl;
  .list-group {
    direction: ltr;
  }
}

.Botones {
  margin: 0;
  .perfilImg {
    background: none;
    border: none;
    padding: 0;
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  img {
    height: 40px;
    border-radius: 50%;
  }
}

.list-group-item {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: larger;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 14px;
  text-align: center;
  background-color: transparent;
  width: 100%;
  
}
/* font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 12px;
  cursor: pointer;
  text-align: center;
  margin: 3px 12px;
  width: 95%;
  border-radius: 12px; */

.list-group-item.active {
  background-color: #3d803d;
  color: #fff;
  border-color: #dfdfdf;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: "Josefin Sans", sans-serif;
}

.grupos, .privados{
  overflow-y: auto;
  max-height: 68vh;
}

.grupos::-webkit-scrollbar {
  width: 6px;
}

.grupos::-webkit-scrollbar-thumb {
  background: #0e882d;
  border-radius: 5px;
}

.list-group-item-action:hover {
  background-color: #3d803d;
  color: #fff;
}

#lista-privados {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
}

#escoger {
  display: flex;
  flex-direction: row;
}

.labelFichas {
  margin-right: 1vh;
}

.variasFichas {
  border: 1px solid;
  width: 24px;
  height: 24px;
  margin: 0;
}

.mensajesFichas {
  width: 88%;
  resize: none;
  outline: none;
  margin-right: 0.9rem;
}

#mensajeFichas {
  height: 6vh;
}

#mensajeFichas2 {
  height: 12vh;
}

#mensajeFichas3 {
  height: 18vh;
}

.mensajesFichas::-webkit-scrollbar {
  width: 0px;
}

.modal-footer {
  display: block;
  .col {
    padding: 0;
  }
}