<div class="row Botones">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="grupos-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true" (click)="mostrarGrupos()">
                <i class="bx bxs-group"></i>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="privados-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false" (click)="mostrarPrivados()">
                <i class="bx bxs-user"></i>
            </button>
        </li>
        @if (Sesion.get('rol') == '1') {
            <li class="nav-item" role="presentation">
                <button class="nav-link" type="button" (click)="abrir()">
                    <i class='bx bxs-message-square-dots'></i>
                </button>
            </li>
        }
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button"
                role="tab" aria-controls="contact" aria-selected="false">
                <i class="bx bxs-cog"></i>
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="dontk-tab" data-bs-toggle="tab" data-bs-target="#salir" type="button"
                role="tab" aria-controls="contact" aria-selected="false">
                <i class="bx bxs-door-open"></i>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                role="tab" aria-controls="contact" aria-selected="false">
                <i class="bx bxs-help-circle"></i>
            </button>
        </li>
    </ul>
    <div class="input-group flex-nowrap" id="buscarGrupos">
        <label for="buscar" class="input-group-text" id="addon-wrapping"><i class='bx bx-search-alt-2'></i></label>
        <input id="buscar" type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="addon-wrapping" [(ngModel)]="valorBuscar" (keyup)="busqueda()">
    </div>
    <div class="tab-content" id="myTabContent">
        @if (valorBuscar.trim()) {
        <div class="tab-pane fade show active" *appChat="changes">
            <h1>Grupos</h1>
            @for (i of coincidencias.Grupos; track i) {
            <h4 class="text-center">{{ coincidencias.Grupos[coincidencias.Grupos.indexOf(i)] }}</h4>
            <br>
            }
            <h1>Privados</h1>
            @for (i of coincidencias.Privados; track i) {
            <h4 class="text-center">{{ coincidencias.Privados[coincidencias.Privados.indexOf(i)] }}</h4>
            <br>
            }
        </div>
        @if (coincidencias.resultados == false) {
        <h2>Sin resultados de busqueda</h2>
        }
        } @else {
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="grupos" id="grupos" role="tablist">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action">GRUPOS</a>
                    @for ( g of grupos; track g.id_grupos) {
                    @if (selected.grupo == g.id_grupos) {
                    <a class="list-group-item list-group-item-action active" id="list-profile-list"
                        data-bs-toggle="list" (click)="seleccionarEnGrupos(g.id_grupos, $index, 'grupos')" role="tab"
                        aria-controls="list-profile">{{ g.nom_grupos }}</a>
                    } @else {
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                        (click)="seleccionarEnGrupos(g.id_grupos, $index, 'grupos')" role="tab" aria-controls="list-profile">{{
                        g.nom_grupos }}</a>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="privados" id="privados" role="tablist">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action">PRIVADOS</a>
                    @for (p of privados; track p.id_grupos) {
                    @if (selected.grupo == p.id_grupos) {
                    <a class="list-group-item list-group-item-action active" id="list-profile-list"
                        data-bs-toggle="list" (click)="seleccionarEnGrupos(p.id_grupos, $index, 'privados')" role="tab"
                        aria-controls="list-profile">{{ p.nom_grupos }}</a>
                    } @else {
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                        (click)="seleccionarEnGrupos(p.id_grupos, $index, 'privados')" role="tab" aria-controls="list-profile">{{
                        p.nom_grupos }}</a>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            3
        </div>
        }
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">
                            Mensajes a varias fichas 😊
                        </h5>
                        <button type="button" class="btn-close" (click)="cerrar()"></button>
                    </div>
                    <form (ngSubmit)="emitirEnvios(mensajes.value)" [formGroup]="mensajes">
                        <div class="modal-body">
                            <p>Seleccione las fichas a las que se enviara el mensaje:</p>
                            <!-- @for (g of grupos; track g.id_grupos) {
                            <ul class="list-group mb-3" id="escoger">
                                <li class="list-group-item w-50">
                                    <label for="{{g.id_grupos}}" class="labelFichas align-middle">{{ g.id_ficha
                                        }}</label>
                                </li>
                                <input class="form-check-input variasFichas align-middle" id="{{g.id_grupos}}"
                                    type="checkbox" value="{{g.id_grupos}}" formControlName="variasFichas"
                                    (click)="check($event.target)">
                            </ul>
                            } -->
                        </div>
                        <div class="modal-footer container">
                            <div class="row row-cols-1">
                                @if (this.checked) {
                                    <div class="col mb-3">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated w-75"
                                                role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                                >75%</div>
                                        </div>
                                    </div>
                                }
                                <div class="col input-group">
                                    <textarea type="text" placeholder="Escribe el mensaje..." [id]="idInput"
                                        formControlName="mensajeFichas" (keyup)="inputSize($event)"
                                        class="mensajesFichas"></textarea>
                                    <label for="mensajeFichas">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="bx bxs-send" id="iconoEnviar"></i>
                                        </button>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>