<div class="row Botones">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="grupos-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true" [disabled]="enBusqueda">
                <i class="bx bxs-group"></i>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="privados-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false" [disabled]="enBusqueda">
                <i class="bx bxs-user"></i>
            </button>
        </li>
        @if (Sesion.get('rol') == '1') {
        <li class="nav-item" role="presentation">
            <button class="nav-link" type="button" (click)="abrir()" [disabled]="enBusqueda">
                <i class='bx bxs-message-square-dots'></i>
            </button>
        </li>
        }
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button"
                role="tab" aria-controls="contact" aria-selected="false" [disabled]="enBusqueda">
                <i class="bx bxs-cog"></i>
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="dontk-tab" data-bs-toggle="tab" data-bs-target="#salir" type="button"
                role="tab" aria-controls="contact" aria-selected="false" [disabled]="enBusqueda">
                <i class="bx bxs-door-open"></i>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                role="tab" aria-controls="contact" aria-selected="false" [disabled]="enBusqueda">
                <i class="bx bxs-help-circle"></i>
            </button>
        </li>
    </ul>
</div>

<app-buscador [buscando]="enBusqueda" (buscar)="mostrarBusqueda($event)"
    [itemsDeBusqueda]="{Grupos: grupos, Privados: privados}">
</app-buscador>

@if (!enBusqueda) {
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="grupos" id="grupos" role="tablist">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action">GRUPOS</a>
                @for ( g of grupos; track g.id_grupos) {
                <app-grupo (click)="seleccionarEnGrupos(g.id_grupos, $index, 'grupos')"
                    [active]="selected.grupo == g.id_grupos ? true : false" [grupo]="g"
                    [tiempo]="g.mensajes.length ? g.mensajes[g.mensajes.length - 1].fecha_hora : undefined"
                    [reciente]="g.mensajes.length ? g.mensajes[g.mensajes.length - 1].contenido_mensaje : undefined"
                    (moverGrupo)="cambiarPosicion($index, g, 1)">
                </app-grupo>
                }
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="privados" id="privados" role="tablist">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action">PRIVADOS</a>
                @for (p of privados; track p.id_grupos) {
                <app-grupo (click)="seleccionarEnGrupos(p.id_grupos, $index, 'privados')"
                    [active]="selected.grupo == p.id_grupos ? true : false" [grupo]="p"
                    [tiempo]="p.mensajes.length ? p.mensajes[p.mensajes.length - 1].fecha_hora : undefined"
                    [reciente]="p.mensajes.length ? p.mensajes[p.mensajes.length - 1].contenido_mensaje : undefined"
                    (moverGrupo)="cambiarPosicion($index, p, 2)">
                </app-grupo>
                }
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        3
    </div>

</div>
}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    Mensajes a varias fichas 😊
                </h5>
                <button type="button" class="btn-close" (click)="cerrar()"></button>
            </div>
            <form (ngSubmit)="emitirEnvios(mensajes.value)" [formGroup]="mensajes">
                <div class="modal-body">
                    <p>Seleccione las fichas a las que se enviara el mensaje:</p>
                    @for (g of grupos; track g.id_grupos) {
                    <ul class="list-group mb-3" id="escoger">
                        <li class="list-group-item w-50">
                            <label for="{{g.id_grupos}}" class="labelFichas align-middle">{{ g.id_ficha
                                }}</label>
                        </li>
                        <input class="form-check-input variasFichas align-middle" id="{{g.id_grupos}}" type="checkbox"
                            value="{{g.id_grupos}}" formControlName="variasFichas" (click)="check($event.target)">
                    </ul>
                    }
                </div>
                <div class="modal-footer container">
                    <div class="row row-cols-1">
                        @if (this.checked) {
                        <div class="col mb-3">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated w-75"
                                    role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    75%</div>
                            </div>
                        </div>
                        }
                        <div class="col input-group">
                            <textarea type="text" placeholder="Escribe el mensaje..." [id]="idInput"
                                formControlName="mensajeFichas" (keyup)="inputSize($event)"
                                class="mensajesFichas"></textarea>
                            <label for="mensajeFichas">
                                <button type="submit" class="btn btn-primary">
                                    <i class="bx bxs-send" id="iconoEnviar"></i>
                                </button>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>