.img-grupo {
  display: flex;
  width: 100%;
  justify-content: center;
  img {
    width: 50vh;
    height: 50vh;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 3vh;
  }
}

.miembro {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.miembro-imagen {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.miembro-info {
  display: flex;
  flex-direction: column;
  width: 72%;
}

.miembro-nombre {
  font-weight: bold;
  margin-bottom: 1%;
}

.miembro-detalle {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 0.5rem;
}

.boton {
  border: none;
  background: none;
  font-size: x-large;
}

.btn-eliminar {
  width: 100%;
  background: transparent;
  color: red;
  border: none;
}

