body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: josefin sans, sans-serif;
  background-color: rgb(165, 163, 163);
}

#cabecera {
    float: right;
    background: linear-gradient(to right,#3d803d, #3d803d);
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    position: relative; /* Asegura que el z-index funcione */
    z-index: 2;
  
}
.nav-link {
  display: flex;
  align-items: center; 
}

#NomUsuario{
  margin-right: 5%;
  font-weight: 100;
  color: #fff;
  user-select: none;
}

.nav-link.dropdown-toggle::after {
  display: none;
}

#perfil {
  float: right;
  width: 45px;
  height: 50px;
  border-radius: 5px;
  max-width: 50px; 
  margin-right: 10px; 
  user-select: none;
}

/* Contenedor de los grupos y privados */

.ContenedorGrupoos{
  background-color: #DFDFDF;
  margin-left: 0px;
  width: 30%;
  height: 100vh;
  border-right: 1px solid #000000;
  user-select: none;
}

/* BOTONES */

.Botones{
  margin: 10px;
  padding-top: 4vh;
}

.Bprivado{
  background-color: #4CAF50;
  margin-left: 18%;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20%;
  border-radius: 5px; 
  font-weight: bold; 
  font-size: 16px;
  border: 1px solid #000;
  letter-spacing: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,.6);
  transition: transform 0.2s; 
  user-select: none;
}

.Bgrupo {
  background-color: #4CAF50;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20%;
  border-radius: 5px; 
  font-size: 16px;
  font-weight: bold; 
  border: 1px solid #000;
  letter-spacing: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,.6);
  transition: transform 0.2s; 
  user-select: none;
}

.Bprivado:active, .Bgrupo:active {
  transform: scale(0.95);
}

/* LISTA DE GRUPOS */

.grupos , .privados{
  margin-top: 7vh;
  overflow-y: auto; 
  max-height: 100vh;
  letter-spacing: 1px;
  font-size: 110%;
  direction: rtl; 
}

.grupos .list-group-item , .privados .list-group-item{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size:larger;
  border-bottom: 1px solid #000000;
  padding: 15px;
  text-align: center;
}

.list-group-item.list-group-item-action {
  background-color: transparent;
}

.list-group-item.active {
  background-color: #3D803D;
  color: #fff; 
  border-color:#DFDFDF;
  position: sticky;
  top: 0;
  z-index: 1; 
  font-family: 'Josefin Sans', sans-serif;
}

#list-home-list:hover {
  background-color: #3D803D !important;
  color: inherit !important;
}

.grupos::-webkit-scrollbar {
	width: 6px;
}

.grupos::-webkit-scrollbar-thumb {
	background: #0E470E;
	border-radius: 5px;
}

.list-group-item-action:hover {
  background-color: #3D803D;
  color: #fff; 
}

/* Navbar del chat */

#cabeceraChat{
    position: absolute;
    background: linear-gradient(to right,#DFDFDF, #DFDFDF);
    width: 70%;
    height: 70px;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    top: 70px;
    right: 0;
    z-index: 1;
}

.container-fluid h4{
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
}














/* Estilo para el elemento de lista al pasar el mouse sobre él */

/* Estilo para el panel lateral desplegable */
.offcanvas {
  width: 25%; /* Establece el ancho del panel lateral */
  height: 75%; /* Establece la altura del panel lateral */
  top: 20%; /* Posición vertical del panel lateral */
}

/* Estilo para el botón de carga de archivo personalizado */
.custom-file-upload {
  position: relative;
  display: inline-block;
}

/* Estilo para el elemento de carga de archivo real (oculto) */
.upload-file {
  display: none;
}

/* Estilo para la etiqueta del botón de carga de archivo */
label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Estilo para la imagen dentro de la etiqueta del botón de carga de archivo */
label img {
  height: 23px;
  width: 23px;
  margin-right: 10px;
}

/* Estilo para el pie del chat (para enviar nuevos mensajes) */
.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Espacio entre elementos en el pie del chat */
}

/* Estilo para el campo de entrada de texto personalizado */
.custom-text-input {
  flex: 1; /* Ocupa todo el espacio disponible horizontalmente */
  margin-right: 10px; /* Espacio a la derecha del campo de entrada de texto */
}

/* Estilo para el botón de carga de archivo personalizado */
.custom-file-upload {
  display: flex;
  align-items: center;
}

/* Estilo para los mensajes de chat a la izquierda */
.d-flex.justify-content-start {
  margin-bottom: 10px; /* Agrega espacio entre los mensajes a la izquierda */
}

/* Estilo para los mensajes de chat a la derecha */
.d-flex.justify-content-end {
  margin-bottom: 10px; /* Agrega espacio entre los mensajes a la derecha */
}

/* Estilo para el contenedor del chat */
.card-body.chat-box {
  max-height: 325px; /* Establece la altura máxima del contenedor del chat */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
  scrollbar-width: thin; /* Establece el grosor de la barra de desplazamiento (solo para Firefox) */
  scrollbar-color: #4CAF50 #e3e6e4; /* Establece el color de la barra de desplazamiento */
}

/* Estilo para la barra de desplazamiento */
.card-body.chat-box::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el pulgar (parte deslizable) de la barra de desplazamiento */
.card-body.chat-box::-webkit-scrollbar-thumb {
  background-color: #0e882d; /* Cambia el color de la barra de desplazamiento a verde */
  border-radius: 4px; /* Agrega bordes redondeados al pulgar de la barra de desplazamiento */
}
