body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: josefin sans, sans-serif;
  background-color: rgb(165, 163, 163);
}

#cabecera {
    padding-left: 800px;
    float: right;
    background: linear-gradient(to right,#3d803d, #3d803d);
    width: 150%;
    height: 70px;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    position: relative; /* Asegura que el z-index funcione */
    z-index: 2;

}

.cabecera-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
}

#NomUsuario{
  margin-right: 5%;
  font-weight: 100;
  color: #fff;
  user-select: none;
}

.nav-link.dropdown-toggle::after {
  display: none;
}

#perfil {
  float: right;
  width: 45px;
  height: 50px;
  border-radius: 5px;
  max-width: 50px;
  user-select: none;
}

/* Contenedor de los grupos y privados */

.ContenedorGrupoos{
  background-color: #DFDFDF;
  margin-left: 0px;
  width: 30%;
  height: 100vh;
  border-right: 1px solid #000000;
  user-select: none;
}

/* BOTONES */

.Botones{
  margin: 10px;
  padding-top: 4vh;
}

.Bprivado{
  background-color: #4CAF50;
  margin-left: 18%;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20%;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #000;
  letter-spacing: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,.6);
  transition: transform 0.2s;
  user-select: none;
}

.Bgrupo {
  background-color: #4CAF50;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #000;
  letter-spacing: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,.6);
  transition: transform 0.2s;
  user-select: none;
}

.Bprivado:active, .Bgrupo:active {
  transform: scale(0.95);
}


/* LISTA DE GRUPOS */

.grupos , .privados{
  margin-top: 7vh;
  overflow-y: auto;
  max-height: 100vh;
  letter-spacing: 1px;
  font-size: 110%;
  direction: rtl;
}

.grupos .list-group-item , .privados .list-group-item{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size:larger;
  border-bottom: 1px solid #000000;
  padding: 15px;
  text-align: center;
}

.list-group-item.list-group-item-action {
  background-color: transparent;
}

.list-group-item.active {
  background-color: #3D803D;
  color: #fff;
  border-color:#DFDFDF;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: 'Josefin Sans', sans-serif;
}

#list-home-list:hover {
  background-color: #3D803D !important;
  color: inherit !important;
}

.grupos::-webkit-scrollbar {
	width: 6px;
}

.grupos::-webkit-scrollbar-thumb {
	background: #0e882d;
	border-radius: 5px;
}

.list-group-item-action:hover {
  background-color: #3D803D;
  color: #fff;
}

/* Navbar del chat */

#cabeceraChat{
    position: absolute;
    background: linear-gradient(to right,#DFDFDF, #DFDFDF);
    width: 70%;
    height: 70px;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    top: 70px;
    right: 0;
    z-index: 1;
}

.container-fluid h4{
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
}


/* Seccion Eliminar */

.offcanvas-body {
  overflow-y: auto;
  scrollbar-width: thin;
}

.offcanvas-body::-webkit-scrollbar {
  width: 8px;
}

.offcanvas-body::-webkit-scrollbar-thumb {
  background-color: #0e882d;
  border-radius: 4px;
}

.offcanvas-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}


/* Mensajes */

.Chat {
  padding: 0;
  width: 70%;
  height: 471px;
  background-color: #9D9D9D;
  position: absolute;
  top: 140px;
  left: end;
  right: 0;
}

.input-group {
  position: absolute;
  bottom: 0;
}


/* Estilo para el panel lateral desplegable */
.offcanvas {
  width: 25%;
  height: 75%;
  top: 20%;
}

/* Estilo para el elemento de carga de archivo real (oculto) */
.upload-file {
  display: none;
}

/* Estilo para la etiqueta del botón de carga de archivo */
label {
  cursor: pointer;
  align-items: center;
}

/* Estilo para la imagen dentro de la etiqueta del botón de carga de archivo */
label img {
  margin-top: 5px;
  height: 40px;
  width: 40px;
}

