<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bienvenida</title>
    <link rel="stylesheet" href="bienvenida.component.css">
</head>
<body>
    <div class="Bienv-box">
        <div id="c0">
          <img src="https://github.com/JhoanDucu/Sena-Chat-Angular-/blob/main/Sena-Chat/Frontend/src/assets/img/Logo-sesion.png?raw=true">
          <h1>Bienvenido</h1>
        </div>
      <div>
        <br>
        <h5>Le damos la Bienvenida a <span> SENA CHAT </span>Seleccione el numero de ficha al cual pertenece.</h5>
      </div> 
      <br>
      <form id="fichas" #data="ngForm" (ngSubmit)="setFicha(data.value.Ficha)">
        <div class="user-box">
          <div>
            <label>Ficha:</label> 
            <select name="Ficha" required ngModel> 
              <option value="0"></option>
              <option value="2558104">2558104</option>
              <option value="2558105">2558105</option>
            </select>
        </div>
        </div>
        <br>
        <div>
        <input type="submit" value="Entrar" class="ir" name="Entrar">
        </div>
      </form>
    </div>
</body>
</html>
