/* Maquetación */

/* Establecer el fondo degradado en toda la página */
body {
    font-family: sans-serif;
  }
  
  /* Centrar el cuadro de inicio de sesión */
  .login-box {
    background-color: lightgreen;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45rem;
    height: 53.5rem;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    transform: translate(-50%, -50%);
    /* background: rgba(255, 255, 255, 0.445); */
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  /* Dar estilo al encabezado */
  .login-box h1 {
    margin: 0 0 2rem;
    padding: 0;
    color: #000000;
    text-align: center;
  }
  /* Dar estilo a la imagen */
  .login-box img {
    position: relative;
    padding-top: 0.5rem;
    width: 12rem;
  }
  .login-box #center1{
    height: 8.5rem;
  }
  /* Dar estilo a los campos de entrada */
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input{
    width: 90%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
    text-align: left;
  }
  
  /* Dar estilo a las etiquetas de los campos de entrada */
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    padding-left: 5%;
    font-size: 16px;
    color: #181616;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box #only{
    padding: 10px 0;
    position: relative;
    top: -1rem;
  }
  
  /* Dar estilo al link */
  .login-box #c11 div p a{
    text-decoration: none;
    color: white;
    text-shadow: none;
  }
  
  /* Dar estilo a las etiquetas de los campos de entrada cuando se enfoca o se llena */
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ffffff;
    font-size: 12px;
  }
  
  /* Dar estilo al botón de inicio de sesión */
  .ingreso {
    position: relative;
    display: inline-block;
    padding: 20px 20px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
    background: transparent;
    border: none;
  }
  
  /* Dar estilo al botón de inicio de sesión cuando se pasa el mouse por encima */
  .ingreso:hover {
    background: #237023;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #3a813a,
                0 0 25px #3a813a,
                0 0 50px #3a813a,
                0 0 100px #3a813a;
  }
  
  /* Dar estilo al enlace de "Crear cuenta" */
  .crear-cuenta {
    cursor: pointer;
    text-shadow: 0 0 9px #000000;
  }
  
  /* Dar estilo a las celdas */
  form #c1{
    grid-area: correo;
  }
  form #c2{
    grid-area: primernom;
  }
  form #c3{
    grid-area: segundonom;
  }
  form #c4{
    grid-area: primerape;
  }
  form #c5{
    grid-area: segundoape;
  }
  form #c6{
    grid-area: username;
  }
  form #c7{
    grid-area: tipodoc;
  }
  
  .user-box select {
    text-align: left;
    width: 90%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
  }
  
  form #c8{
    grid-area: documento;
  }
  form #c9{
    grid-area: password;
  }
  form #c10{
    grid-area: confirm;
  }
  form #c11{
    grid-area: boton;
  }
  form{
    display: grid;
    grid-template-areas:  "correo correo"
                          "primernom segundonom"
                          "primerape segundoape"
                          "username tipodoc"
                          "documento documento"
                          "password confirm"
                          "boton boton";
  }
  
  /* media Query */
  
  /*Tablet*/
  /*Portrait*/
  @media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    .login-box{
      width: 32rem;
      text-align: center;
    }
    .login-box .user-box input{
      width: 76%;
      text-align: left;
    }
    .login-box .user-box label{
      padding-left: 12%;
    }
  }
  
  /*fin tablet*/
  
  /*movil*/
  /*Portrait*/
  /*Default*/
  @media (min-width: 260px) and (max-width: 720px) and (orientation:portrait) {
    html{
      width: 100%;
      height: 120%;
    }
    .login-box{
      width: 22rem;
      text-align: center;
      height: 90%;
      overflow-y: auto;
    }
    .login-box::-webkit-scrollbar{
      width: 2%;
    }
    form{
      grid-template-areas:  "correo" "primernom" "segundonom"
                            "primerape" "segundoape" "username"
                            "documento" "password" "confirm" "boton";
    }
    .login-box .user-box input{
      width: 95%;
      text-align: left;
    }
    .login-box .user-box label{
      padding-left: 2.5%;
    }
  }
  
  /*landscape*/
  @media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    .login-box{
      width: 40rem;
      text-align: center;
    }
    .login-box .user-box input{
      width: 80%;
      text-align: left;
    }
    .login-box .user-box label{
      padding-left: 10%;
    }
  }
  /*fin movil*/
  