<div class="card-body chat-box">
    @if (!grupoSeleccionado) {
        <div class="d-flex justify-content-start">
            <div class="text-dark p-2 rounded" style="background: #e3e6e4; max-width: 50%;"> <!-- Limita el ancho al 50% -->
                No hay grupo seleccionado
            </div>
        </div>
    } @else {
        @for ( m of mensaje; track m.id_mensaje) {
            @if (m.numerodoc == usuario) {
                <div class="d-flex justify-content-end mb-1">
                    <div class="bg-success text-white p-2 rounded" style="max-width: 50%;"> <!-- Limita el ancho al 50% -->
                    {{ m.contenido_mensaje }}
                    </div>
                </div>
            } @else {
                <div class="d-flex justify-content-start mb-1">
                    <div class="text-dark p-2 rounded" style="background: #e3e6e4; max-width: 50%;"> <!-- Limita el ancho al 50% -->
                        {{ m.contenido_mensaje }}
                    </div>
                </div>
            }
        }
        <span id="final"></span>
    }
</div>
