<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesion</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="login-box">
    <div id="c0">
      <img src="../../assets/img/Logo-sesion.png">
      <h1>Iniciar sesion</h1>
    </div>
    <form [formGroup]="formLogin" (ngSubmit)="logear(formLogin.value)">
      <div class="user-box" id="ajustar-select">
        <label id="tipo" for="tipodoc">Tipo de Documento</label>
        <br>
        <br>
        <select required id="tipodoc" name="tipodoc" formControlName="tipodoc" (focus)="Label();" (blur)="noLabel();">
          <option value="0"></option>
          <option value="1">Cedula de ciudadania</option>
          <option value="2">Tarjeta de identidad</option>
          <option value="3">Cédula de Extranjería</option>
          <option value="4">PEP</option>
          <option value="5">Permiso por Protección Temporal</option>
        </select>
      </div>
      <br>
      <div class="user-box" id="c2">
        <input type="text" name="numerodoc" id="numerodoc" maxlength="20" required formControlName="numerodoc">
        <label for="numerodoc">Numero de documento</label>
      </div>
      <div class="user-box" id="c3">
        <input type="password" name="contrasena" id="contrasena" required formControlName="contrasena">
        <label for="contrasena">Contraseña</label>
      </div>
      <div id="c4">
        <input type="submit" value="Ingresar" class="ingreso" id="c5" name="sesion">
        <div id="c6">
          <p>¿Olvidaste tu contraseña?
            <a class="Cont" [routerLink]="['/contrasena']" routerLinkActive="buttonactive">Click aqui</a>
          </p>
          <p>¿No tienes una cuenta?
            <a class="button crear-cuenta" [routerLink]="['/registro']" routerLinkActive="buttonactive">Crear Cuenta</a>
          </p>
        </div>
      </div>
      @if (Sesion.get('error')) {
      <div class="alert alert-primary d-flex align-items-center" role="alert">
        <i class='bx bxs-error' style="font-size: 28px; margin-right: 12px;"></i>
        <div>No has iniciado sesion</div>
      </div>
      }
    </form>
  </div>
</body>

</html>