#myTab {
  font-size: 30px;
  padding: 0;
}

#myTabContent {
  padding: 0;
  direction: rtl;
  .list-group {
    direction: ltr;
  }
}

#buscarGrupos {
  padding: 0;
  margin: 2.5%;
  border: 1px solid;
  width: 95%;
  height: 45px;
  border-radius: 10px;
  .form-control {
    border: none;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #addon-wrapping {
    border: none;
    border-radius: 0;
    border-top-left-radius: 25%;
    width: 10%;
    border-bottom-left-radius: 25%;
    background-color: white;
  }
  .input-group-text {
    justify-content: flex-end;
  }
  .form-control:focus {
    box-shadow: none;
  }
  label {
    font-size: large;
  }
  button {
    font-size: 22px;
  }
}

/* EDITARRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR */

#myTab {
  font-size: 30px;
  padding: 0;
  .nav-link {
    color: rebeccapurple;
  }
}

#myTabContent {
  padding: 0;
  direction: rtl;
  .list-group {
    direction: ltr;
  }
}

.Botones {
  margin: 0;
  padding-top: 3vh;
}

.list-group-item {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: larger;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 14px;
  text-align: center;
  background-color: transparent;
}

.list-group-item.active {
  background-color: #3d803d;
  color: #fff;
  border-color: #dfdfdf;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: "Josefin Sans", sans-serif;
}

.grupos, .privados{
  overflow-y: auto;
  max-height: 68vh;
}

.grupos::-webkit-scrollbar {
  width: 6px;
}

.grupos::-webkit-scrollbar-thumb {
  background: #0e882d;
  border-radius: 5px;
}

.list-group-item-action:hover {
  background-color: #3d803d;
  color: #fff;
}

#lista-privados {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
}

#escoger {
  display: flex;
  flex-direction: row;
}

.labelFichas {
  padding-left: 10vh;
}

.variasFichas {
  border: 1px solid;
  width: 24px;
  height: 24px;
  margin: 0;
}

.mensajesFichas {
  width: 88%;
  resize: none;
  outline: none;
  margin-right: 0.9rem;
}

#mensajeFichas {
  height: 6vh;
}

#mensajeFichas2 {
  height: 12vh;
}

#mensajeFichas3 {
  height: 18vh;
}

.mensajesFichas::-webkit-scrollbar {
  width: 0px;
}

.modal-footer {
  display: block;
  .col {
    padding: 0;
  }
}