<div class="input-group flex-nowrap" id="buscarGrupos">
    <label for="buscar" class="input-group-text" id="addon-wrapping"><i class='bx bx-search-alt-2'></i></label>
    <input id="buscar" type="text" class="form-control" placeholder="Busca un chat..." aria-label="Username"
        aria-describedby="addon-wrapping" [(ngModel)]="valorBuscar" (keyup)="busqueda()">
</div>

<div class="tab-content" id="myTabContent">
    @if (buscando && valorBuscar.trim() && coincidencias.resultados) {
    <div class="tab-pane fade show active" *appChat="changes">
        <div class="grupos" id="grupos" role="tablist">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action">GRUPOS</a>
                @for (i of coincidencias.Grupos; track i) {
                <app-grupo [grupo]="i"></app-grupo>
                }
                <h1>Privados</h1>
                @for (i of coincidencias.Privados; track i) {
                <app-grupo [grupo]="i"></app-grupo>
                }
            </div>
        </div>
    </div>
    }
</div>