body {
  overflow: hidden;
  font-family: josefin sans, sans-serif;
  background-color: #dfdfdf;
}

#allPage {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

#rowPage {
  flex-wrap: nowrap;
  margin: 0;
}

.cabecera-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  margin-right: 2.5%;
}

.nav-link.dropdown-toggle::after {
  display: none;
}

/* Contenedor de los grupos y privados */

.ContenedorGrupoos {
  margin: 0;
  padding: 0px;
  width: 38%;
  height: 100vh;
  border-right: 1px solid #000000;
  -webkit-user-select: none;
  user-select: none;
}

/* Navbar del chat */

.contenedorChat {
  padding: 0;
  width: 62%;
}

.container-fluid h4 {
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
}

/* Mensajes */

.Chat {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 62%;
  top: 70px;
  bottom: 0;
  background-color: #dfdfdf;
  overflow: auto;
}

.mensajes-container {
  background-color: transparent;
  padding: 0;
  border: none;
  position: static;
  overflow-y: auto;
  width: 100%;
}