<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHAT</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid" id="allPage">
        <div class="row" id="rowPage">
            <div class="column ContenedorGrupoos">
                <app-grupos [grupos]="datos.gruposComponent.grupos" [privados]="datos.gruposComponent.privados"
                    (makeChange)="applyChanges($event)" [changesValue]="datos.other.changes"
                    [selected]="{ grupo: this.Sesion.get('grupos'), p: Sesion.get('pestaña')}"
                    (envioMultiple)="enviar($event, $event.fk_destino)" (deseleccionar)="sinGrupo()">
                </app-grupos>
            </div>
            <div class="column contenedorChat">
                @if(grupoSeleccionado){
                <nav class="container navbar bg-body-tertiary" id="cabeceraChat">
                    <img src="../../assets/img/Grupo.png" alt="IMAGEN DEL GRUPO" id="logo-grupo" />
                    <h4>{{ fichaSeleccionada }}</h4>
                    <app-info-grupos [grupoSeleccionado]="this.Sesion.get('grupos')"></app-info-grupos>
                </nav>

                <div class="Chat container-fluid">
                    <div class="card mensajes-container">
                        <app-mensajes *appChat="datos.other.changes" [mensajes]="mensajesGrupo"></app-mensajes>
                    </div>
                    <app-mensajes-enviar (emitir)="enviar($event, grupoSeleccionado)"></app-mensajes-enviar>
                </div>
                }
            </div>
        </div>
    </div>
</body>

</html>