<div class="contenedor-padre">
    @for (m of mensajes; track m) {
    <div class="contenedor">
        <div class="header">
            <h5 class="idMensaje">ID del mensaje: <span>{{m.id_mensaje}}</span></h5>
        </div>
        <div class="parrafos">
            <p class="contenidoMensaje">Contenido del mensaje: <span>{{m.contenido_mensaje}}</span></p>
            <p class="fechaHoraEnvio">Fecha/Hora del envío: <span>{{m.fecha_hora}}</span></p>
            <p class="ubicacion">Ubicación: <span>Ubicación de ejemplo</span></p>
            <p class="tipoMensaje">Tipo de mensaje: <span>{{m.tipo_mensaje}}</span></p>
        </div>
        <button class="btn-info" type="button" (click)="abrirInfo()">Más Información</button>
        <button class="btn-editar" (click)="mostrar.emit(['editarMensaje', m.id_mensaje])">Editar</button>
        <button class="btn-eliminar">Eliminar</button>
    </div>
    }
</div>