<div id="perfil-box">
    <img src="../../../assets/img/Usuario1.jpg" id="user">

    <div id="text">
        <p>Nombre de Usuario</p>
        <!-- <label for="exampleInputEmail1" class="form-label"><strong>Primer nombre:</strong></label>
        <label for="exampleInputEmail1" class="form-label">....</label>
        <br>
        <label for="exampleInputEmail1" class="form-label"><strong>Segundo nombre: </strong></label>
        <label for="exampleInputEmail1" class="form-label">....</label>
        <span></span>
        <br>
        <label for="exampleInputEmail1" class="form-label"><strong>Primer apellido: </strong></label>
        <label for="exampleInputEmail1" class="form-label">....</label>
        <span></span>
        <br>
        <label for="exampleInputEmail1" class="form-label"><strong>Segundo apellido: </strong></label>
        <label for="exampleInputEmail1" class="form-label">....</label>
        <span></span>
        <br>
        <label for="exampleInputEmail1" class="form-label"><strong>Nombre de usuario: </strong></label>
        <label for="exampleInputEmail1" class="form-label">....</label>
        <span></span>
        <br>
        <label for="exampleInputPassword1" class="form-label"><strong>Correo electronico: </strong></label>
        <label for="exampleInputEmail1" class="form-label">....</label>
        <span></span>
        <br> -->
    </div>
</div>