<div class="card-body chat-box" style="  max-height: 420px;">
    <div *ngIf="!grupoSeleccionado; else mjs">
        <div class="d-flex justify-content-start">
            <div class="text-dark p-2 rounded" style="background: #fff; max-width: 50%; text-align: center; margin-top: 20%; margin-left: 40%;"> <!-- Limita el ancho al 50% -->
                No hay grupo seleccionado
            </div>
        </div>
    </div>
    <ng-template #mjs>
        <div *ngFor="let m of mensaje">
            <ng-container *ngIf="m.numerodoc == usuario; else izquierdo">
                <div class="d-flex justify-content-end mb-1">
                    <div class="bg-success text-white p-2" style="max-width: 50%;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    padding: 10px;">
                    {{ m.contenido_mensaje }}
                    </div>
                </div>
            </ng-container>
            <ng-template #izquierdo>
                <div class="d-flex justify-content-start mb-1">
                    <div class="text-dark p-2" style="background: #FFFFFF;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    padding: 10px;
                    max-width: 50%;">
                        {{ m.contenido_mensaje }}
                    </div>
                </div>
            </ng-template>
        </div>
        <span id="final"></span>
    </ng-template>
</div>
