/* Establece estilos generales para el cuerpo de la página */
body {
    height: 100%;
    margin: 0;
    padding: 3.5%;
    font-family: sans-serif;
    border: 0;
  }
  
  /* Estilo para el logotipo en la esquina superior izquierda */
  #logo {
    float: left;
    width: 9.5rem;
    height: 4.8rem;
  }
  
  /* Estilo para la imagen de perfil en la esquina superior derecha */
  #perfil {
    float: right;
    width: 50px;
    height: 50px;
    margin: 15px;
    margin-top: 0.5%;
  }
  
  /* Estilo para los elementos de la lista desplegable */
  .list-group-item {
    /* Agrega una imagen de fondo */
    background-image: url('../../assets/img/User.png'); 
    background-repeat: no-repeat;
    background-position: left center; 
    padding-left: 30px; 
    background-size: 60px 50px; 
  
    text-align: center; /* Centra el texto horizontalmente en el elemento */
    line-height: 50px; /* Alinea verticalmente el texto en el elemento */
  }
  
  /* Estilo para el elemento de lista activo (seleccionado) */
  .list-group-item.active {
    background-color: #0e882d; /* Cambia el fondo a verde oscuro */
    color: #fff; /* Cambia el color del texto a blanco */
    border-color:#0e882d;
  }
  
  /* Estilo para el elemento de lista al pasar el mouse sobre él */
  .list-group-item:hover {
    background-color: #81BB81; /* Cambia el fondo a verde claro al pasar el mouse */
    color: #fff; /* Cambia el color del texto a blanco */
  }
  
  /* Estilo para el panel lateral desplegable */
  .offcanvas {
    width: 25%; /* Establece el ancho del panel lateral */
    height: 75%; /* Establece la altura del panel lateral */
    top: 20%; /* Posición vertical del panel lateral */
  }
  
  /* Estilo para el botón de carga de archivo personalizado */
  .custom-file-upload {
    position: relative;
    display: inline-block;
  }
  
  /* Estilo para el elemento de carga de archivo real (oculto) */
  .upload-file {
    display: none;
  }
  
  /* Estilo para la etiqueta del botón de carga de archivo */
  label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  /* Estilo para la imagen dentro de la etiqueta del botón de carga de archivo */
  label img {
    height: 23px;
    width: 23px;
    margin-right: 10px;
  }
  
  /* Estilo para el pie del chat (para enviar nuevos mensajes) */
  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Espacio entre elementos en el pie del chat */
  }
  
  /* Estilo para el campo de entrada de texto personalizado */
  .custom-text-input {
    flex: 1; /* Ocupa todo el espacio disponible horizontalmente */
    margin-right: 10px; /* Espacio a la derecha del campo de entrada de texto */
  }
  
  /* Estilo para el botón de carga de archivo personalizado */
  .custom-file-upload {
    display: flex;
    align-items: center;
  }
  
  /* Estilo para los mensajes de chat a la izquierda */
  .d-flex.justify-content-start {
    margin-bottom: 10px; /* Agrega espacio entre los mensajes a la izquierda */
  }
  
  /* Estilo para los mensajes de chat a la derecha */
  .d-flex.justify-content-end {
    margin-bottom: 10px; /* Agrega espacio entre los mensajes a la derecha */
  }
  
  /* Estilo para el contenedor del chat */
  .card-body.chat-box {
    max-height: 325px; /* Establece la altura máxima del contenedor del chat */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    scrollbar-width: thin; /* Establece el grosor de la barra de desplazamiento (solo para Firefox) */
    scrollbar-color: #4CAF50 #e3e6e4; /* Establece el color de la barra de desplazamiento */
  }
  
  /* Estilo para la barra de desplazamiento */
  .card-body.chat-box::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
  }
  
  /* Estilo para el pulgar (parte deslizable) de la barra de desplazamiento */
  .card-body.chat-box::-webkit-scrollbar-thumb {
    background-color: #0e882d; /* Cambia el color de la barra de desplazamiento a verde */
    border-radius: 4px; /* Agrega bordes redondeados al pulgar de la barra de desplazamiento */
  }

#final{
  display: flex;
  width: 100%;
  height: 2%;
}