

  .card-body.chat-box{
    max-height: 370px;
    overflow-y: auto;
  }

  /* Estilo para la barra de desplazamiento */
  .card-body.chat-box::-webkit-scrollbar {
    width: 8px; 
  }

  /* Estilo para el pulgar (parte deslizable) de la barra de desplazamiento */
  .card-body.chat-box::-webkit-scrollbar-thumb {
    background-color: #3d803d; /* Cambia el color de la barra de desplazamiento a verde */
    border-radius: 4px; /* Agrega bordes redondeados al pulgar de la barra de desplazamiento */
  }
