<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Editar Perfil</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="presentacion">
            <img src="../../../assets/img/Usuario2.jpg" id="imagen-perfil">
            <span id="nombreUsuario">{{ usuario.nombre_usuario }}</span>
        </div>
    </div>
</div>