<form [formGroup]="formEditar" (ngSubmit)="editar()">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            @if (cambios) {
            <button class="btn btn-outline-primary" type="submit" id="btn">Guardar cambios</button>
            <button class="btn btn-outline-danger" id="btn" (click)="cancelar()">Cancelar</button>
            }
            <h5 id="offcanvasRightLabel">Editar Perfil</h5>
            <button id="cerrarEditar" data-bs-dismiss="offcanvas" aria-label="Close" (click)="cancelar()" type="button">
                <i class='bx bx-right-arrow-alt'></i>
            </button>
        </div>
        <div class="offcanvas-body">
            <div id="presentacion">
                <label for="cambiarImg" id="labelCambiarImg" (mouseleave)="activarBoton()" (mouseenter)="activarBoton()"
                    [style.background-image]="'url('+ '../../../assets/img/' + usuario.foto+')'">
                    @if (hoverImg) { <span>Cambiar foto </span><i class='bx bxs-camera'></i> }
                    <input type="file" id="cambiarImg" hidden>
                </label>
                <span id="nombreUsuario">
                    @if (!propsEditar.nombre_usuario) {
                    {{ formEditar.value.nombre_usuario }}
                    <button id="botonTitulo" (click)="activarEditar('nombre_usuario')" type="button">
                        <i class='bx bxs-pencil'></i>
                    </button>
                    } @else {
                    <label for="nombre_usuario"></label>
                    <input type="text" id="inputTitulo" formControlName="nombre_usuario" appEditar>
                    <button id="botonTitulo" (click)="generarCambios('nombre_usuario')" type="button">
                        <i class='bx bx-check'></i>
                    </button>
                    }
                </span>
            </div>
            <div id="informacion">
                <span class="info-container">
                    <span class="labelEditar"><strong>Ficha: </strong></span>
                    <p id="sinE">
                        {{usuario.id_fichas}}
                    </p>
                </span>

                <span class="info-container">
                    <label for="correo" class="labelEditar"><strong>Correo: </strong></label>
                    @if (!propsEditar.correo) {
                    {{ formEditar.value.correo }}
                    <button id="botonTitulo" (click)="activarEditar('correo')" type="button">
                        <i class='bx bxs-pencil'></i>
                    </button>
                    } @else {
                    <input type="text" class="inputEditar" formControlName="correo" appEditar>
                    <button id="botonTitulo" (click)="generarCambios('correo')" type="button">
                        <i class='bx bx-check'></i>
                    </button>
                    }
                </span>

                <span class="info-container">
                    <label for="nombres" class="labelEditar"><strong>Nombres:</strong></label>
                    @if (!propsEditar.primer_nom) {
                    <p [id]="!propsEditar.primer_nom && !propsEditar.segundo_nom ? 'sinE' : 'conE'">
                        {{formEditar.value.primer_nom}}
                    </p>
                    } @else {
                    <input type="text" class="inputEditar" id="nombres" appEditar formControlName="primer_nom"
                        placeholder="Primer nombre">
                    <button id="botonTitulo" (click)="generarCambios('primer_nom')" type="button">
                        <i class='bx bx-check'></i>
                    </button>
                    }
                    @if (!propsEditar.segundo_nom) {
                    <p [id]="!propsEditar.primer_nom && !propsEditar.segundo_nom ? 'sinE' : 'conE'">
                        {{formEditar.value.segundo_nom}}
                    </p>
                    } @else {
                    <input type="text" class="inputEditar" id="nombres" formControlName="segundo_nom"
                        placeholder="Segundo nombre">
                    <button id="botonTitulo" (click)="generarCambios('segundo_nom')" type="button">
                        <i class='bx bx-check'></i>
                    </button>
                    }
                    @if(!propsEditar.primer_nom && !propsEditar.segundo_nom){
                    <button id="botonTitulo" (click)="activarEditar('primer_nom', 'segundo_nom')" type="button">
                        <i class='bx bxs-pencil'></i>
                    </button>
                    }
                </span>

                <span class="info-container">
                    <label for="apellidos" class="labelEditar"><strong>Apellidos:</strong></label>
                    @if (!propsEditar.primer_apellido) {
                    <p [id]="!propsEditar.primer_apellido && !propsEditar.segundo_apellido ? 'sinE' : 'conE'">
                        {{formEditar.value.primer_apellido}}
                    </p>
                    } @else {
                    <input type="text" class="inputEditar" id="apellidos" appEditar formControlName="primer_apellido"
                        placeholder="Primer apellido">
                    <button id="botonTitulo" (click)="generarCambios('primer_apellido')" type="button">
                        <i class='bx bx-check'></i>
                    </button>
                    }
                    @if (!propsEditar.segundo_apellido) {
                    <p [id]="!propsEditar.primer_apellido && !propsEditar.segundo_apellido ? 'sinE' : 'conE'">
                        {{formEditar.value.segundo_apellido}}
                    </p>
                    } @else {
                    <input type="text" class="inputEditar" id="apellidos" formControlName="segundo_apellido"
                        placeholder="Segundo Apellido">
                    <button id="botonTitulo" (click)="generarCambios('segundo_apellido')" type="button">
                        <i class='bx bx-check'></i>
                    </button>
                    }
                    @if (!propsEditar.primer_apellido && !propsEditar.segundo_apellido) {
                    <button id="botonTitulo" (click)="activarEditar('primer_apellido', 'segundo_apellido')"
                        type="button">
                        <i class='bx bxs-pencil'></i>
                    </button>
                    }
                </span>

                <span class="info-container">
                    <label for="numerodoc" class="labelEditar"><strong>Documento: </strong></label>
                    @if (!propsEditar.numerodoc) {
                    {{ formEditar.value.numerodoc }}
                    <button id="botonTitulo" (click)="activarEditar('numerodoc')" type="button">
                        <i class='bx bxs-pencil'></i>
                    </button>
                    } @else {
                    <input type="text" class="inputEditar" formControlName="numerodoc" appEditar>
                    <button id="botonTitulo" (click)="generarCambios('numerodoc')" type="button">
                        <i class='bx bx-check'></i>
                    </button>
                    }
                </span>
                <span class="info-container">
                    <label for="descripcion" class="labelEditar up"><strong>Descripcion: </strong></label>
                    @if (propsEditar.descripcion) {
                    <textarea class="inputEditar" id="descripcion" formControlName="descripcion" appEditar></textarea>
                    <button id="botonTitulo" (click)="generarCambios('descripcion')" type="button">
                        <i class='bx bx-check'></i>
                    </button>
                    } @else {
                    <p id="sinE">
                        {{formEditar.value.descripcion}}
                        <button id="botonTitulo" (click)="activarEditar('descripcion')" type="button">
                            <i class='bx bxs-pencil'></i>
                        </button>
                    </p>
                    }
                </span>
            </div>
        </div>
    </div>
</form>