<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        @if (cambios) {
        <button class="btn btn-outline-primary" type="submit" id="btn">Guardar cambios</button>
        <button class="btn btn-outline-danger" id="btn" (click)="cancelar()">Cancelar</button>
        }
        <h5 id="offcanvasRightLabel">Editar Perfil</h5>
        <button id="cerrarEditar" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class='bx bx-right-arrow-alt'></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="formEditar" (ngSubmit)="editar()">
            <div id="presentacion">
                <label for="cambiarImg" id="labelCambiarImg" (mouseleave)="activarBoton()" (mouseenter)="activarBoton()"
                    [style.background-image]="'url('+ '../../../assets/img/' + usuario.foto+')'">
                    @if (hoverImg) { <span>Cambiar foto </span><i class='bx bxs-camera'></i> }
                    <input type="file" id="cambiarImg" hidden>
                </label>
                <span id="nombreUsuario">
                    <label for="nombre_usuario"></label>
                    @if (!propsEditar.nombre_usuario) {
                    {{ formEditar.value.nombre_usuario }}
                    <button id="botonTitulo" (click)="activarEditar('nombre_usuario')">
                        <i class='bx bxs-pencil'></i>
                    </button>
                    } @else {
                    <input type="text" id="inputTitulo" formControlName="nombre_usuario" appEditar>
                    <button id="botonTitulo" (click)="generarCambios('nombre_usuario')">
                        <i class='bx bx-check'></i>
                    </button>
                    }
                </span>
            </div>
            <div id="informacion">
                <span class="info-container">
                    <label for="nombres" class="labelEditar"><strong>Nombres:</strong></label>
                    @if (!propsEditar.primer_nom) { {{formEditar.value.primer_nom}} } @else {
                    <input type="text" class="inputEditar" id="nombres" appEditar formControlName="primer_nom">
                    <button id="botonTitulo" (click)="generarCambios('primer_nom')">
                        <i class='bx bx-check'></i>
                    </button>
                    }
                    @if (!propsEditar.segundo_nom) { {{formEditar.value.segundo_nom}} } @else {
                    <input type="text" class="inputEditar" id="nombres" formControlName="segundo_nom">
                    <button id="botonTitulo" (click)="generarCambios('segundo_nom')">
                        <i class='bx bx-check'></i>
                    </button>
                    }
                    @if(!propsEditar.primer_nom && !propsEditar.segundo_nom){
                    <button id="botonTitulo" (click)="activarEditar('primer_nom', 'segundo_nom')">
                        <i class='bx bxs-pencil'></i>
                    </button>
                    }
                </span>

                <span class="info-container">
                    <label for="apellidos" class="labelEditar"><strong>Apellidos:</strong></label>
                    @if (!propsEditar.apellidos) {
                    {{usuario.primer_apellido + ' ' + usuario.segundo_apellido}}
                    <button id="botonTitulo" (click)="activarEditar('apellidos')">
                        <i class='bx bxs-pencil'></i>
                    </button>
                    } @else {
                    <input type="text" class="inputEditar" (blur)="activarEditar('apellidos')" id="apellidos"
                        [value]="usuario.primer_apellido + ' ' + usuario.segundo_apellido" appEditar>
                    <button id="botonTitulo"><i class='bx bx-check'></i></button>
                    }
                </span>
                <audio src="../../../assets/audio/livechat-129007.mp3"></audio>

                <span class="info-container">
                    <label for="descripcion" class="labelEditar"><strong>Descripcion: </strong></label>
                    @if (propsEditar.descripcion) {
                    <textarea class="inputEditar" (blur)="activarEditar('descripcion')" appEditar id="descripcion">
                    {{usuario.descripcion}}
                </textarea>
                    <button id="botonTitulo"><i class='bx bx-check'></i></button>
                    } @else {
                    {{usuario.descripcion}}
                    <button id="botonTitulo" (click)="activarEditar('descripcion')">
                        <i class='bx bxs-pencil'></i>
                    </button>
                    }
                </span>

                <span class="info-container">
                    <label for="exampleInputEmail1" class="labelEditar"><strong>Numero de documento: </strong></label>
                    <input type="text" class="inputEditar" [value]="usuario.numerodoc">
                    <button id="botonTitulo"><i class='bx bx-check'></i></button>
                </span>

                <span class="info-container">
                    <span class="labelEditar"><strong>Ficha: </strong> {{usuario.id_fichas}}</span>
                    <!-- <input type="text" class="inputEditar" [value]="usuario.id_fichas">
                <button id="botonTitulo"><i class='bx bx-check'></i></button> -->
                </span>

                <span class="info-container">
                    <label for="exampleInputPassword1" class="labelEditar"><strong>Correo electronico: </strong></label>
                    <input type="text" class="inputEditar" [value]="usuario.correo">
                    <button id="botonTitulo"><i class='bx bx-check'></i></button>
                </span>
            </div>
        </form>
    </div>
</div>