#offcanvasRight {
  width: 62%;
}

#offcanvasRightLabel {
  margin: 0;
}

.offcanvas-header {
  justify-content: end;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

button {
  border: none;
  background: none;
}

#cerrarEditar {
  font-size: 20px;
}

#presentacion {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #imagenPerfil {
    height: 100%;
    border-radius: 50%;
  }
  #inputTitulo {
    width: min-content;
    font-size: xxx-large;
    text-align: center;
    padding: 0;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
  }
}

#informacion {
  display: flex;
  flex-direction: column;
  margin: 3vh;
  /* .labelEditar {
    width: 100%;
  } */
  .inputEditar {
    border: none;
    outline: none;
    border-bottom: 1.5px solid black;
    width: 85%;
    resize: none;
  }
  .info-container {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
  }
}

#botonTitulo {
  font-size: 25px;
}

#labelCambiarImg {
  cursor: pointer;
  width: 70vh;
  height: 70vh;
  display: flex;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: x-large;
  i {
    font-size: 30px;
    margin-left: 10px;
  }
}

#labelCambiarImg:hover {
  opacity: 0.6;
}

#nombreUsuario {
  font-size: xxx-large;
}
