<!-- Lista de grupos -->
            <div class="col-4">
                <div *ngIf="gruposVisible" class="grupos" id="grupos" role="tablist" style="margin-top: 35px; margin-left: -26%; width: 110%;">
                    <p>GRUPOS</p>
                    
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                        href="#list-home" role="tab" aria-controls="list-home">Heiver</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                        href="#list-profile" role="tab" aria-controls="list-profile">Isaura</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                        href="#list-messages" role="tab" aria-controls="list-messages">Leo</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                        href="#list-settings" role="tab" aria-controls="list-settings">Sofia</a>
                    <a class="list-group-item list-group-item-action activ" id="list-home-list" data-bs-toggle="list"
                        href="#list-hom" role="tab" aria-controls="list-home">Camila</a>
                    <a class="list-group-item list-group-item-actio" id="list-profile-list" data-bs-toggle="list"
                        href="#list-profil" role="tab" aria-controls="list-profile">Alfonso</a>
                </div>
            <!-- Lista de privados -->
                <div *ngIf="privadosVisible" class="privados" id="privados" role="tablist" style="margin-top: 35px; margin-left: -26%; width: 110%;">
                    <p> PRIVADOS</p>
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                        href="#list-home" role="tab" aria-controls="list-home">Juancho</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                        href="#list-profile" role="tab" aria-controls="list-profile">Compa nicolas</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                        href="#list-messages" role="tab" aria-controls="list-messages">Mena</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                        href="#list-settings" role="tab" aria-controls="list-settings">enyeer</a>
                    
                </div>
            </div> 
