<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link rel="stylesheet" href="chat.component.css">
</head>
<body>
    <div id="chat">
        <!-- NAV -->
        <nav class="navbar navbar-expand-lg" style="background: linear-gradient(to right, #81BB81, #0e882d); margin: -2%;">
            <div class="container-fluid">
                <img src="../../assets/img/sena chat.png" id="logo">
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    </ul>
                    <ul class="navbar-nav">
                        <h4 class="dropdown-menu-end" style="margin-top: 10%;">JuanchoTv</h4>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../../assets/img/User.png" id="perfil">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end"> <!-- Usamos "dropdown-menu-end" para alinear a la derecha -->
                                <li><a class="dropdown-item" href="#">Configuracion</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Salir</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- NAV -->

        <!--  BARRA INFORMACION CHAT-GRUPO -->
        <nav class="navbar bg-body-tertiary fixed-top" style="position: fixed; background: linear-gradient(to right, #81BB81, #0e882d); top: 19%; left:37%; width: 61%; height: 10%;" >
            <div class="container-fluid">
                <img src="../../assets/img/Grupo.png" alt="Descripción de la imagen" style="width: 70px; height: 50px; margin: 15px; margin-top: 0.1%;">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Información del Grupo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        <!--botones eliminar y agregar, etc-->
                    </div>
                </div>
            </div>
        </nav>
        <!--  BARRA INFORMACION CHAT-GRUPO -->
        
        <div class="list-group" style="width: 35%; height: 200px; margin-top: 2.5%;">
            <a href="#" class="list-group-item list-group-item-action">xd</a>
            <a href="#" class="list-group-item list-group-item-action">xd</a>
            <a href="#" class="list-group-item list-group-item-action">xd</a>

            <a href="#" class="list-group-item list-group-i">xd</a>
            <a href="#" class="list-group-item list-group-it">xd</a>
            <a href="#" class="list-group-item list-group-ite">xd</a>
            <a href="#" class="list-group-item list-group-item">xd</a>
        </div>
