<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>configuracion de perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div id="info-perfil">

        <nav class="navbar bg-body-tertiary" id="cabecera" >
            <div class="container" >
                <img src="https://github.com/JhoanDucu/Sena-Chat-Angular-/blob/main/Sena-Chat/Frontend/src/assets/img/sena%20chat.png?raw=true" alt="Bootstrap" width="10%" height="10%" >
            </div>
          </nav>

        <!-- <header id="cabecera">
            <img src="https://github.com/JhoanDucu/Sena-Chat-Angular-/blob/main/Sena-Chat/Frontend/src/assets/img/sena%20chat.png?raw=true" id="logo">            
        </header> -->

        <div id="confi-box">

            <div id="user">
               <img src="https://github.com/JhoanDucu/Sena-Chat-Angular-/blob/main/Sena-Chat/Frontend/src/assets/img/User.png?raw=true">
            </div>
        
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Nombre De Usuario</label>
                  <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label" >Numero De Documento</label>
                  <input type="number" class="form-control" id="documento" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Correo Electronico</label>
                  <input type="email" class="form-control" id="correo">
                </div>                 
                <div class="container-fluid"> 
                  <div class="row w-100 align-items-center">
                    <div class="col text-center">
                      <button type="button" class="btn btn-success">GUARDAR</button>
                      <button type="button" class="btn btn-success">VOLVER</button>  
                    </div>	
                  </div>
                </div>
              </form>
              
            <!-- <div id="text">
                <form action="" method="POST">
                    <p class="p1"> <span>Nombre del usuario:</span> <input type="text" id="nombre" ></p> 
                    <p class="p1_2"><span>Numero de documento:</span> <input type="text" id="documento" ></p>
                    <p class="p2"> <span>Correo electronico:</span> <input type="email" id="correo" > </p>
                    <input id="boton" type="submit"  value="Guardar" >
                    <input id="boton" type="submit" href="chat" value="Volver" >
                </form>
           </div> -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>