@if(mostrar){
<app-crear-usuario (mostrar)="mostrarCrear()"></app-crear-usuario>
}@else{
<div class="contenedor-padre">
    <!-- Tus contenedores aquí -->
    <div class="contenedor">
        <div class="header">
            <img src="../../../../assets/img/perfil3.jpg" alt="Imagen del grupos" class="imagen">
            <h2 class="nameUser">Nombre de usuario</h2>
        </div>
        <p class="name">Juan david Cardenas Perez</p>
        <div class="parrafos">
            <p class="numDocumentos">Numero de documento: <span>0000000000</span></p>
            <p class="ficha">Ficha: <span>22558104</span></p>
        </div>
        <button class="btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight">Mas Información</button>
        <button class="btn-editar">Editar</button>
        <button class="btn-eliminar">Eliminar</button>
    </div>
</div>
}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

    </div>
</div>