<div class="contenedor-padre">
    @for (u of usuarios; track u.numerodoc) {
    <div class="contenedor">
        <div class="header">
            <img [src]="url+u.foto" alt="Imagen del grupos" class="imagen">
            <h2 class="nameUser">Nombre de usuario</h2>
        </div>
        <p class="name">{{u.primer_nom}} {{u.segundo_nom}} {{u.primer_apellido}} {{u.segundo_apellido}}</p>
        <div class="parrafos">
            <p class="parrafo">Num. Documento: <span>{{u.numerodoc}}</span></p>
            <p class="parrafo">Ficha: <span>{{u.id_fichas}}</span></p>
        </div>
        <button class="boton info" type="button" (click)="abrirInfo()">Mas Información</button>
        <button class="boton editar" (click)="mostrar.emit(['editarUsuario', u.numerodoc])">Editar</button>
        <button class="boton eliminar">Eliminar</button>
    </div>
    }
</div>